.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.page-header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page-header .salutation {
    margin-right: 1em;
}