@import url(../variables.css);

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    width: fit-content;
    min-width: 300px;
    margin: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.modal-content h2 {
    position: relative;
    padding: 20px;
    margin-bottom: 0px;
    width: calc(100% + 2px);
    left: -21px;
    top: -21px;
    margin-top: 0px;
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}